#contact
{
    width:100%;
    text-align:center;
}
#map
{
	height:400px;
    width:auto;
}

#formular{
        background-color: rgba(245, 245, 245, 0.1);
        margin-top: 10px;
        padding: 15px 15px 15px 15px;
        width: 100%;
        height: 500px;
        position: initial;
        text-align: center;
        position:absolute;
        z-index:2;
    }