@media all and (max-width:1024px)
{
   .card
    {
        width:30%;
    }
    
    #contact
    {
        height:800px;
    }
}

@media all and (max-width : 1024px) 
{
    #navbar-menu li
    {
        border-top:none;
    }
    #navbar-menu li:hover
    {
        border-top:3px solid rgb(92,173,211)
    }
}
    