#navbar
{

	display:flex;
	justify-content:space-around;
	align-items:center;
	flex-wrap:wrap;
	width:100%;
	background-color:white;
    padding:10px;
	z-index:100;
}

#navbar-menu
{
	display:flex;
	list-style-type:none;
	align-items:center;
	width:400px;
	margin:auto;
	padding:3px;
	justify-content:space-between;
}


#navbar-menu li
{
	padding: 40px 20px;
} 

#navbar-menu li :hover
{
	cursor:pointer;
	border-top:3px solid #3BAED7;
	padding-top:15px;
}
 #navbar-menu a
 {
 	text-decoration:none;
 }

 #navbar-menu a :hover
 {
 	color:black;
 }


