#portfolio
{
	background-color:whitesmoke;
    width:100%;
    margin:auto;
    padding-top:20px;
}

#portfolio-header
{
    padding-top:80px;
	text-align:center;
}

#portfolio-menu
{
	display:flex;
    justify-content:center;
    width:auto;
    margin:0 auto; 
}

.porfolio-group
{
    background-color: #E5E5E5;    
    padding: 10px;
    border-radius:3px;
    color:grey;
    text-align:center;
    position:relative;
    border-bottom:3px solid transparent;
}

.porfolio-group:hover
{
    background-color: #3BAED7;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-bottom:3px solid #2193B9;
}

.triangle
{
    border-color:transparent transparent transparent transparent;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    height: 0px;
    width: 0px;
    position:absolute;
    bottom:-20px;
    left:40px;
}

.porfolio-group:hover > .triangle
{
        border-color:#2193B9 transparent transparent transparent;

}

.portfolio-images
{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin:auto;
    padding-top:20px;
    max-width:1500px;
}

.card
{
    position:relative;
    width:260px;
    padding:20px;
    margin:10px;
}
.card img
{
    width:100%;
}

 .card .description-container
{
    background-color:rgba(0,0,0,0.3);
    color:white;
    padding:5px;
    position:absolute;
    width:249px;
    height:45px;
    bottom:26px;
    visibility:hidden;
}

.card img:hover + .description-container,
.card .description-container:hover
{
    visibility:visible;
    cursor:pointer;
}

.eyes
{
    color: white;
    border: 2px solid white;
    padding: 10px;
    height:25px;
    width:25px;
    border-radius:50%;
    background-color: #3BAED7;
    float: right;
    position: relative;
    right: 20px;
    bottom: 100px;
}

.description
{
    text-align:left;
}









