#portfolio
{
	background-color:whitesmoke;
    width:100%;
    margin:auto;
    padding:20px;
}

#portfolio-header
{
    padding:55px;
	text-align:center;
}

#portfolio ul
{
	list-style-type:none;
	display:flex;
	flex-direction:row;
    justify-content:center;
    margin:auto; 
}

#portfolio ul li
{
    background-color: #E5E5E5;    
    padding: 10px;
    border-radius:3px;
}

#portfolio ul li:hover
{
    background-color: #3BAED7;
    color: white;
    font-weight: bold;
    box-shadow: 0 1px 0 #3BAED7;
    cursor: pointer;
}

#portfolio  li:hover > span 
{
    width: 1px;
    height: 1px;
    border: 8px solid transparent;
    border-top: 8px solid #3BAED7;
    position: relative;
    top: 46px;
    right: 45px;
}

.portfolio-images
{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin:auto;
    padding:0;
    max-width:1500px;
}

.card
{
    position:relative;
    width:260px;
    padding:20px;
    margin:10px;
}
.card img
{
    width:100%;
}

 .card .description-container
{
    background-color:rgba(0,0,0,0.3);
    color:white;
    padding:5px;
    position:absolute;
    width:249px;
    height:45px;
    bottom:26px;
    visibility:hidden;
}

.card img:hover + .description-container,
.card .description-container:hover
{
    visibility:visible;
    cursor:pointer;
}

.eyes
{
    color: white;
    border: 2px solid white;
    padding: 10px;
    height:25px;
    width:25px;
    border-radius:50%;
    background-color: #3BAED7;
    float: right;
    position: relative;
    right: 20px;
    bottom: 100px;
}

.description
{
    text-align:left;
}









