#services-header
{
	text-align:center;
}

#services-container
{
	display:flex;
}

#all-services h3
{
    font-size:1.5em;
	font-weight:bold;
}

.service-contents
{
    display:flex;
    flex-direction:row;
}

.fas-container
{
    border:1px solid lightgrey;
    background-color:white;
    border-radius:50%;
    margin:40px;
    padding:15px;
    color:#5CABD1;
    font-size:2em;
    display:flex;
    position:relative;
}

.blue-point1
{
   font-size:2em;
   position:absolute;
   top:-5px;
   right:-10px;
}


