
#services-header
{
	text-align:center;
}

#services-container
{
    display: flex;
    justify-content:space-around;
    width:100%;
    margin:auto;
    padding:30px;
}

#services-image
{
    padding-left:80px;
    padding-top:50px;
}

#all-services
{
    padding-right:100px;
}

#all-services h3
{
    font-size:1.5em;
	font-weight:bold;
}

.service-contents
{
    display:flex;
    flex-direction:row;
}

.fas-container
{
    border:1px solid lightgrey;
    background-color:white;
    border-radius:50%;
    margin:40px;
    padding:20px;
    color:#5CABD1;
    font-size:2em;
    display:flex;
    position:absolute;
}

.blue-point1
{
   font-size:2em;
   position:absolute;
   top:-5px;
   right:-10px;
}

.hp-container
{
    margin-left:140px;
}



