#services-header
{
	text-align:center;
}

#services-container
{
	display:flex;
	
}

#services-list ul li
{
	display:flex;
}

i.fas 
{
	color:#5CABD1;
	font-size:2em;
	border-radius: 50%;
 	border:2x solid grey;
 	padding:10px;
}

#services-list li h3
{
	font-size:1.5em;
	font-weight:bold;
}
