#slider
{
   position:relative;
   width: 100%;
    padding-top:20px;
}

.slider-content 
{
    position: relative;
    overflow: hidden;
    width: 100%;
}

.slider-open
{
    display:none;
}

.slider-open:checked + .slider-item 
{
    position: static;
    opacity: 1;
}

.slider-item 
{
    position: absolute;
    opacity: 0;
}

.bluebar.left 
{
    border-bottom: 4px solid #5cadd3;
    width:20%;
    position: relative;
    bottom:1px;
    z-index: 8;
}

.bluebar.right
{
    border-bottom:4px solid #5cadd3;
    width:20%;
    position:relative;
    left:80%;
    bottom:1px;
    z-index:8;
}
.slider-item img 
{
    display: block;
    height: auto;
    width: 100%;
    margin-top:100px;
}

.slider-control 
{
    background: rgba(0, 0, 0, 0.28);
    color:white;
    display:none;
    font-size: 2em;
    position: absolute;
    top: 50%;
    cursor: pointer;
    width: 40px;
	height: 70px;
    z-index: 10;
}

.chevronLeft 
{
	padding-top: 20px;
	padding-left: 5px;
    color:white;
}

.chevronRight 
{
	padding-top: 20px;
	padding-right: 5px;
    color:white;
}

.slider-control.prev
{
    left: 0;
    border-radius: 0 40px 40px 0;
    text-align: left;
	
}

.slider-control.next 
{
    border-radius: 40px 0 0 40px;
    right: 0;
    text-align: right;
}

.slider-control:hover 
{
    background: rgba(0, 0, 0, 0.8);
}

#slider-1:checked ~ .control-1,
#slider-2:checked ~ .control-2 
{
    display: block;
}



#presentation
{
    width:35%;
    position:absolute;
    top:30%;
    left:12%;
    color:white;
    z-index:5;
    text-align: left;
}

#presentation span
{
	color:#3BAED7;
}

#presentation .button
{
    background-color:#3BAED7;
    text-align:center;
    padding:10px;
    width:100px;
    border-radius:5px;
    box-shadow:0 3px 0 #1D8DB5;
    text-decoration:none;
    color:white;
}

#presentation h2
{
    font-size:1.8em;
}

#presentation p
{
    font-size:1em;
}
