@import url("navbar.css");
@import url("services.css");
@import url("slider.css");
@import url("contact.css");
@import url("portfolio.css");
@import url("mediascreen.css");

html
{
    height:100%;
    width: 100%;
    overflow-x:hidden;
    margin:0;
    padding:0;
}

body
{
    font-family:'roboto', sans-serif;
	color:black;
    text-align: center;
    margin:0;
}


h1
{
    font-size:2em;
    font-weight:bold;
}

.text-size
{
	font-size:1em;
}

.separator
{
    display:flex;
    align-items:baseline;
    width:150px;
    align-content:center;
    margin:auto;
}

.line
{
    background-color:lightgrey;
    height:2px;
    width:70px;
}

.blue-point
{
	width:15px;
    height:15px;
    border-radius:50%;
    background-color:#3BAED7;
    margin:10px;
    
}



footer
{
    color:grey;
    font-size:0.3em;
    font-style:italic;
}

