@import url("navbar.css");
@import url("services.css");
@import url("slider.css");
@import url("contact.css");
@import url("portfolio.css");
@import url("mediascreen.css");

html
{
    height:100%;
    width: 100%;
    overflow-x:hidden;
    margin:0;
    padding:0;
}

body
{
    font-family:'roboto', sans-serif;
	font-style:normal;
	color:black;
    text-align: center;
}


h1
{
    font-size:1.8em;
    font-weight:bold;
}

.text-size
{
	font-size:1em;
}

.blue-point
{
	color: #5CABD1;
	font-size:3em;
    position:relative;
    top:-45px;
}

hr
{
	display:inline-block;
	width:40px;
	margin:5px;
	color:#FBFBFB;
	opacity:0.3;
    position:relative;
    top:-55px;
}

footer
{
    color:grey;
    font-size:0.3em;
    font-style:italic;
}

