
@import url("navbar.css");
@import url("services.css");
@import url("slider.css");
@import url("contact.css");
@import url("portfolio.css");
@import url("mediasreen.css");

html
{
    height:100%;
}

body
{
	font-family:'roboto', sans-serif;
	font-style:normal;
	font-weight:500px;
	margin:0;
	padding:0;
	width:100%;
	color:black;
}

h2
{
	text-transform:uppercase;
	font-size: 1.8em;
}

.text-size
{
	font-size:1em;
}

.blue-point
{
	color: #5CABD1;
	font-size:4em;
}

hr
{
	display:inline-block;
	width:60px;
	height:0;
	margin:5px;
	color:#FBFBFB;
	opacity:0.3;
	position:relative;
	top:-15px;
}

